@import '../../../themes/mixins.scss';

.container {
  @include flexMix($direction: column);


  .logo {
    width: 60%;
  }

  .buttons {
    @include flexMix($justify: space-between);
    width: 90%;
    margin-top: 20px;
  }
}
