<div class="container">
  <img class="logo" src="assets/logo.png" alt="">
  <div class="buttons">
    <div class="button" routerLink="/start">start</div>
    <div class="button" routerLink="/settings">settings</div>
  </div>
</div>
