<div class="content">
  <div class="title">{{ title }}</div>
  <div class="controls">
    <div class="buttons">
      <div class="button" (click)="decrement()">&#171;</div>
      <div class="button" (click)="increment()">&#187;</div>
    </div>

    <div class="value">
      {{ currentValue }}
    </div>
  </div>
</div>
