@import '../../../../themes/mixins.scss';

.navbar {
  width: 100%;
  height: 65px;
  box-shadow: 0 5px 7px 0 rgba($color: black, $alpha: .4);
  @include flexMix(space-between);
  padding: 0 20px;
  box-sizing: border-box;

  &__button {
    font-size: 26px;
    color: white;
    height: 100%;
    width: 100px;
    @include flexMix(flex-start);
    padding-left: 20px;
    box-sizing: border-box;

    &_next {
      @include flexMix(flex-end);
      padding-right: 20px;
    }
  }
}
