@import '../../../themes/mixins.scss';

:host {
  width: 100%;
  height: 100%;
}

.settings {
  width: 100%;
  height: 100%;
  @include flexMix($justify: flex-start, $align: flex-start, $direction: column);
  padding: 5%;
  box-sizing: border-box;
}
