<app-navbar></app-navbar>
<div class="settings">
  <app-incr-decr (changeValue)="moveLeft($event)" title="Horizontal Arm"></app-incr-decr>
  <app-incr-decr (changeValue)="moveRight($event)" title="Vertical Arm"></app-incr-decr>
  <app-incr-decr (changeValue)="moveBase($event)" title="Base Servo"></app-incr-decr>
  <app-start-stop title="Pump"></app-start-stop>
</div>


