@font-face {
  font-family: 'Roboto-Regular';
  src: url('../assets/Roboto-Regular.ttf');
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: 'Roboto-Bold';
  src: url('../assets/Roboto-Bold.ttf');
  font-weight: 800;
  font-style: normal;
}
