<div class="content">
  <div class="title">{{ title }}</div>
  <div class="controls">
    <div class="buttons">
      <div class="button" (click)="toggle()" [class.button_active]="isOn">{{ isOn ? 'OFF' : 'ON' }}</div>
    </div>

    <div class="value">
      {{ time | appSecondsPipe }} sec.
    </div>
  </div>
</div>
