@import '../../../../../themes/mixins.scss';

:host {
  width: 100%;
}

.content {
  width: 100%;
  border-radius: 5px;
  margin-bottom: 10px;
  box-sizing: border-box;
  @include flexMix($justify: space-between);

  .title {
    font-size: 18px;
    color: white;
    padding: 0 4px;
    min-width: 32%;
    margin-right: 30px;
  }

  .controls {
    width: 100%;
    @include flexMix($justify: space-between);

    .buttons {
      width: 40%;
      @include flexMix;
    }

    .value {
      color: white;
      font-weight: bold;
      font-size: 20px;
    }
  }
}
