@import './themes/fonts.scss';
@import './themes/mixins.scss';

body {
  margin: 0;
  font-family: 'Roboto-Regular', sans-serif;
  cursor: default;
}

.button {
  height: 60px;
  padding: 0 20px;
  box-sizing: border-box;
  border-radius: 4px;
  border: 2px solid white;
  @include flexMix;
  color: white;
  text-transform: uppercase;
  box-shadow: 0 0 7px 0 black;
  margin-right: 10px;
  user-select: none;
  font-size: 30px;

  &:last-child {
    margin-right: 0;
  }

  &_active {
    background-color: white;
    color: gray;
    border: 2px solid gray;
  }
}
